*{
    margin: 0px;
    padding: 0px;
}

* h1{
    color: black;
    letter-spacing: 0.25em;
}


#nav-bar{
    display: flex;
    align-items: center;
    background-color: rgb(160, 157, 157);
    width: 100%;
    position: fixed;
    z-index: 10000;
    top: 0;
    height: 10vh;
}

#nav-bar #app-text{
    
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px 10px 1vw;
    /* background-color: white; */


}

#nav-bar #app-text a{
    border-right: 2px solid #e2e2e2;
    padding-right: 1.5vw;
    letter-spacing: 0.25em;
    font-size: 1.7vw;
    text-decoration: none;
    color: #e2e2e2;
}



#nav-bar #nav-section{
    display: flex;
    flex-direction: row-reverse;
    /* padding-left: 20%; */
    /* background-color: brown; */
    padding-right: 5vw;
    width: 80%;
}

#nav-bar #nav-section #nav-ul{
    /* background-color: black; */
    display: flex;
    list-style: none;
    align-items: center;
}

#nav-ul li{
    margin: 6px 1vw;
}

#nav-ul li a{
    padding: 3px 1.5vw 2px 1.5vw;
    font-size: 1.7vw;
    color: #e2e2e2;
    text-decoration: none;
    font-weight: bold;
}

#nav-ul li a:hover{
    color: white;
    text-decoration: underline;
}

#main-body{
    /* position: relative;
    top: 9vh; */
    padding: 15vh 2vw 25vh 2vw;
    background-color: rgb(81, 78, 78) ;
    height: max-content;
    min-height: 60vh;
    /* height: max(100vh, inherit ); */
    width: 100%;
}

#footer{
    position: fixed;
    z-index: 10000;
    height: 12vh;
    width: 100%;
    bottom: 0;
    background-color: rgb(160, 157, 157);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    

}

#footer #add-alarm{
    padding: 5vh 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-alarm-button{
    padding: 12px 25px;
    border: none;
    font-size: 1vw;
    background-color: rgb(81, 78, 78) ;
    color: #b0aeae;
    letter-spacing: 0.25em;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

#add-alarm-button:hover{
    color: white;
}

.no-alarm-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100vw;
}

.no-alarm-box h1{
    color:#676a6a;
    font-size: 5vmax;
    letter-spacing: 0.15em;
}

.add-alarm-box{
    top: 30vh;
    position: absolute;
    left: 50vw;
    visibility: hidden;
    transform: translate(-50%, -50%) scale(0.1);
    transition: transform 0.4s, top 0.4s;
    background-color: rgb(160, 157, 157) ;
    height: 50vh;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    /* position: relative; */
    
}

#add-alarm-box #input-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: green; */
    width: 100%;
    position: relative;
}

#input-section .inputs{
    padding: 10vh 2vw;
    border-radius: 20px;
    border: 1px solid #bfbfbf;
    background-color: rgb(81, 78, 78);
}

#input-section .inputs select{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    font-size: 3vmax;
    color:#b0aeae;
}

.ok-button{
    padding-top: 2vmin;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.ok-button button{
    padding: 2vh 3vw;
    border-radius: 10px;
    border: 1px solid grey;
    background-color: #e2e2e2;
    font-size: 2vmax;
    font-weight: bold;
    cursor: pointer;

}

.ok-button button:hover{
    filter: brightness(0.9);
}

.open-add-alarm{
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    top: 50vh;

}

.alarms{
    height: max-content;
    /* min-height: 15vh; */
    width: 90vw;
    padding: 5vh 2vw;
    border-bottom: 1px solid white;
    background-color: #676a6a;
    display: flex;
}

.alarms .alarmTime{
    padding: 10px 0px;
    width: 70%;
}

.activatedH1{
    font-size: 4vw;
    color:white;
}

.activatedH4{
    font-weight:400;
    font-size: 1.5vw;
    padding: 4px 0px;
    /* color: #bfbfbf; */
    color: white;

}

.ringingHeading{
    font-size: 3vw;
    color:white;
}

.ringingSubHeading{
    font-weight:400;
    font-size: 2vw;
    padding: 4px 0px;
    /* color: #bfbfbf; */
    color: white;
}

.alarmDeactivatedH1{
    /* padding: 10px 0px;
    width: 70%; */
    color: #bfbfbf;
    font-size: 4vw;
}

.alarmDeactivatedH4{
    /* padding: 10px 0px;
    width: 70%; */
    color: #bfbfbf;
    font-weight:400;
    font-size: 1.5vw;
    padding: 4px 0px;
}

.alarms .set-unset{
    padding: 3% 4% 2% 3%;
    width: 15%;
    
}

.set-unset .toggleButton{
    height: 1.4vmax;
    width: 5.3vmax;
    background-color: blue;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    padding: 0.7vmax 0.5vmax;
    cursor: pointer;
    display: flex;
    /* transition: flex-direction 2s; */
    transition-property: flex-direction;
    transition-duration: 2s; 
}

.set-unset .toggleButton:hover{
    background-color: rgb(19, 19, 165);
}

.circle{
    height: 1.5vmax;
    width: 1.5vmax;
    border-radius: 100%;
    background-color: white;
    position: relative;
}

.move-toggle{
    display: flex;
    padding: 0.7vmax 0.5vmax;
    cursor: pointer;
    border-radius: 25px;
    flex-direction: row-reverse;
    transition-property: flex-direction;
    transition-duration: 2s;
    background-color: rgb(46, 45, 45);
    height: 1.4vmax;
    width: 5.3vmax;
}

.alarms .deleteAlarm{
    padding: 3% 4% 2% 3%;
    width: 15%;
}

.stop-alarm, .snooze-alarm{
    padding: 3% 4% 2% 3%;
    width: 15%;
}

.stop-button, .snooze-button{
    padding: 0.9vmax 1vmax;
    border-radius: 1.5vmax;
    border: 1px solid grey;
    background-color: #e2e2e2;
    font-size: 3vmin;
    font-weight: bold;
    cursor: pointer;
}

.deleteAlarm button{
    padding: 0.9vmax 1vmax;
    border-radius: 1.5vmax;
    border: 1px solid grey;
    background-color: #e2e2e2;
    font-size: 3vmin;
    font-weight: bold;
    cursor: pointer;
}
