<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alarm</title>
    <link rel="stylesheet" href="../styles/alarm.css">
</head>
<body>
    <nav id="nav-bar">
        <!-- <section id="img-section">
           <a href=""><i class="fa-solid fa-clock" style="color: #dcd9d9;"></i></a> 
        </section> -->

        <section id="app-text">
            <a>CLOCK APP</a>
        </section>

        <section id="nav-section">
            <ul id="nav-ul">
                <li class="nav-items" id="alarm-page">
                    <a href="alarm.html">Alarm</a>
                </li>
                <!-- <li class="nav-items" id="stopwatch-page">
                    <a href="/">Stopwatch</a>
                </li>
                <li class="nav-items" id="timer-page">
                    <a href="/">Timer</a>
                </li> -->
            </ul>
        </section>

    </nav>


    

    <section id="main-body">
        <section id="alarm-section">
            <section id="disp-no-alarm">

                <section id="add-alarm-box" class="add-alarm-box">
                    <section id="input-section">
                        <section class="inputs">
                            <select>
                                <option value="Hour" selected disabled hidden>00</option>
                            </select>
                        </section>
    
                        <section class="inputs">
                            <select>
                                <option value="Minute" selected disabled hidden>00</option>
                              </select>
                        </section>
    
                        <section class="inputs">
                            <select>
                                <option value="AM/PM" selected disabled hidden>AM</option>
                              </select>
                        </section>
                    </section>

                    <section class="ok-button">
                        <button id="ok" onclick="closeAddAlarm()">OK</button>
                    </section>
                    
                </section>

                <!-- <h1>NO ALARMS YET!</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1>
                <h1>NO Alarms yet</h1> -->
            </section>
        </section>
    </section>

    <section id="footer">
        <section id="add-alarm">
            <button id="add-alarm-button" onclick="openAddAlarm()">ADD ALARM</button>
        </section>
    </section>

    <script>
        // var addA = document.getElementById("add-alarm-button");
        let addAlarmBox = document.getElementById("add-alarm-box");

        function openAddAlarm() {
            console.log("open clicked");
            addAlarmBox.classList.add("open-add-alarm");
        }
        
        function closeAddAlarm() {
            console.log("closed clicked")
            addAlarmBox.classList.remove("open-add-alarm");
        }
    </script>
    
</body>
</html>