<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bhawna's Clock application</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <nav id="nav-bar">
        <!-- <section id="img-section">
           <a href=""><i class="fa-solid fa-clock" style="color: #dcd9d9;"></i></a> 
        </section> -->

        <section id="app-text">
            <a>CLOCK APP</a>
        </section>

        <section id="nav-section">
            <ul id="nav-ul">
                <li class="nav-items" id="alarm-page">
                    <a href="alarm.html">Alarm</a>
                </li>
                <!-- <li class="nav-items" id="stopwatch-page">
                    <a href="/">Stopwatch</a>
                </li>
                <li class="nav-items" id="timer-page">
                    <a href="/">Timer</a>
                </li> -->
            </ul>
        </section>

    </nav>

    <section id="main-body">
        <h1>hello world</h1>
    </section>
    
</body>
</html>